- page_title @adventure.name

#last_actions.play-area
  %h3 Last events...
  - @last_events.each do |last_event|
    %div
      %p=last_event.description

%br
%br

#currently.play-area
  %h3 Now...
  %p= @current_event.description
  %br


- if @adventure.next_event?
  .actions
    =link_to 'Continue...', next_event_adventure_url(@adventure), method: :put, class: 'btn btn-primary'

- if @current_event.choices?
  .choices
    What do you do?
    %br
    - @current_event.choices do |choice|
      = link_to choice.decision, choose_adventure_url(@adventure, choice), method: :put, class: 'btn btn-primary'

